body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    width: 100%;
    font-size: 50px;

    display: flex;
    justify-content: center;
    color: white;
    text-shadow: 0px 0px 20px rgb(0, 193, 193);
}

.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 30px rgb(0, 193, 193);
    border-radius: 20px;
}

.display {
    width: 100%;
    font-size: 50px;

    display: flex;
    justify-content: end;

    margin: 15px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    padding-right: 10px
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

button {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    aspect-ratio: 1/1;
    font-size: 30px;

    background-color: white;
    box-sizing: content-box;
    border: 2px solid black;
    box-shadow: 0px 0px 4px black;
    border-radius: 10px;
}

button:active{
    background-color: teal;
}